a {
    text-decoration: none;
}

.pkmn-card p {
    padding: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
    text-shadow: 0 0 0.05em rgba(black, 0.35);
    font-size:1em;
    margin-bottom: 0px !important;
}

.pkmn-card h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
    text-shadow: 0 0 0.05em rgba(black, 0.35);
    padding-top: 6px;
}

.main-img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pkmn-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: #ffcb05;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-con {
    padding:20px;
    background-color: white;
    width: auto;
    height: auto;
    align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.stat-table {
    border: 1px;
    border-color: black;
    background-color:#ffcb05;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.stat {
    width: 20%;
    padding: 10px;
}

.icon {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.card-title {
    width: 80%;
}

.title-table{
    width: 100%;
    vertical-align: middle;
}

.card-icon {
    text-align: right;
}

.ball {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-right: 5px;
}

.color-bg {
    width: 95%;
    padding: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.color-bg2 {
    width: 95%;
    padding: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.return {
    margin-right: 20px;
}